<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/main.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Bem vindo(a) ao <strong id="bold"><%= title %></strong></p>
      <a id="link" href="/curriculo">Meu currículo</a>
    </main>
    <footer>
        <p>Versão <a id="version"><%= version %></a></p>
        <p>Dupla: <a id="version">Nicolas Samuel e Robson Tadeu</a></p>
    </footer>
  </body>
</html>
