<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/style.css">
    <title>Cadastrar</title>
</head>
<body>
<form action="/users" method="post">
    

        <div class="box">
            <h1>Cadastro</h1>
            <div>
                <p>Nome:</p>
                <input type="text" placeholder="Nome" id="nome" name="nome" required>
            </div>
            <div>
                <p>Email:</p>
                <input type="text" placeholder="Email" id="email" name="email" required>
            </div>
            <button type="submit" id="btn">Submit</button>
        </div>



        <!-- <script src="/statics/script.js"></script> -->
</form>    
</body>
</html>